Background:

    Linux/MACos Instructions:

        Install python3

        Have a env file in Lab2 directory, do the following in terminal:
            cd into Lab2
            python3 -m pip install --user --upgrade pip
            python3 -m pip install --user virtualenv
            python3 -m virtualenv env
        
        Now activate the env file by:
            source env/bin/activate (note: second parameter is the location of env file) 

        Install pip packages:
            pip install beautifulsoup
            pip install tweepy
            pip install nltk
            pip install NewsPlease
            pip install urllib
            pip install gzip
            

        Commands to run:
            Once env activated you can now test every file with:
                python3 filename

    Windows Instructions:

        Install Linux and follow above directions


NOTE: When executing a python script, make sure to be within that directory for it to work properly and find approriate files.

Check Out: Index.html if you want to see the word clouds on a webpage | Open index.html in your browser

Hadoop/Cluster Infrastructure: AWS EMR & S3

File Structure Documentation: The below file structure is represented when in Lab2 root

part1
    |- code
    |   |- commoncrawl.py
    |   |- NYTArticles.py
    |   |- Tweets.py
    |- data
        |- CommonCrawl
        |- NYT 
        |- Twitter
part2
    |- code
    |   |- aws_sample_output.py
    |   |- mapper.py
    |   |- reducer.py
    |   |- sample_cleaner.py
    |- output
    |   |- HFinn
    |   |- PG345   
    |- sample_data

part3
    |- code
    |   |- Co-Occurrence
    |   |   |- co_occurrence_mapper.py
    |   |   |- co_occurrence_reducer.py
    |   |- WordCount
    |   |   |- mapper.py
    |   |   |- reducer.py
    |   |- Cleaner.py
    |   |- ManyToOne.py
    |- CommonCrawl
    |   |- Co-OccurenceData
    |   |   |- *******
    |   |- Code
    |   |   |- aws_commoncrawl_output.py
    |   |   |- commoncrawl_sorter.py
    |   |- Images
    |   |- WordCountData  
    |- NYT
    |   |- Co-OccurenceData
    |   |   |- *******
    |   |- Code
    |   |   |- aws_nyt_output.py
    |   |   |- nyt_sorter.py
    |   |- Images
    |   |- WordCountData  
    |- Twitter
    |   |- Co-OccurenceData
    |   |   |- *******
    |   |- Code
    |   |   |- aws_twitter_output.py
    |   |   |- twitter_sorter.py
    |   |- Images
    |   |- WordCountData

webpage
    |- css
    |- data
    |- imgs
    |- js
    |- templates

Report.docx

video.txt

Word_Count_And_Co_Occurrence_Visualizations.twb